###### FOLDERS ######
node_modules
dist
*.DS_Store
.directory
.project
.settings
.vscode/cSpell.json
.idea
.tscache
.logs
.built
.tmpOutput
.vagrant
coverage
.vscode
certs

###### FILES ######
src/.baseDir.ts
npm-debug.log
yarn-error.log
docker/docker-compose.yml
docker/values.yml
docker/couchbase-values.yml
docker/syncgw-values.yml
postgres-data/
Vagrantfile

.env
.env.example.debug*
build.env

doc/api
doc/swagger
.helm_values/

manuscripts-api/helm_repo/manuscripts-api/certs
emails/rendered/*.html

junit.xml

.prisma