mixin appTd(imgSrc, text, actionLink, isLeft)
  - var padding = "padding: 24px 24px 0 32px;"
  if !isLeft
    - padding = "padding: 24px 32px 0 24px;"

  td(style= padding +" " + greyText +" font-weight: 300; width: 50%;").app-td-mobile
    img(src=imgSrc, height="20", style="max-height: 16px;")
    div(style="padding: 8px 0; min-height: 62px;") #{text}
    a(href=actionLink, target="_blank", style= linkStyles + " font-weight: 400;") Learn more

block atyponApps
  tr
    td(bgcolor="#F6FAFD", align="center")
      table(width="100%", border="0", cellspacing="0", cellpadding="0", align="center", style=" max-width: 512px; margin:0 auto;").responsive-table
        tr
          td(style="padding: 48px 32px 24px; font-weight: 300; " + greyText).app-td-mobile
            img(src=AtyponLogo, height="24", width="auto", style="margin-bottom: 16px")
            div Manuscripts is part of Connect. By signing up for Manuscripts, you get access to all of Atypon's apps for discovering, organising, writing, and publishing research.
        tr
          td(bgcolor="#f8f9f9", align="center")
            table(width="100%", border="0", cellspacing="0", cellpadding="0", align="center", style=" max-width: 512px; margin:0 auto;").responsive-table
              tr
                +appTd(ManuscriptsLogo, "A simple authoring tool for complex documents rebuilt for collaboration.", "https://www.manuscripts.io", true)
                +appTd(ScitrusLogo, "A personalized discovery application for researchers and practitioners.", "https://www.scitrus.com", false)
              tr
                td(style="padding: 24px 32px 0; font-weight: 300; " + greyText).coming
                  span To be connected soon
              tr
                +appTd(AuthoreaLogo, "The open publishing destination for all research outputs.", "https://www.authorea.com", true)
                +appTd(RemarqLogo, "Move your reading experience forward. Explore, annotate, collaborate!", "https://www.remarqable.com", false)
