block copyright
  tr
    td(bgcolor="#F6FAFD", align="center", style="padding: 44px 24px;")
      table(width="100%", border="0", cellspacing="0", cellpadding="0", align="center", style="max-width: 512px; border-top: 1px solid #e2e2e2").responsive-table
        tr
          td(style= font + darkText + " padding-top:16px; padding-left: 32px; font-size: 12px; line-height: 16px; font-weight: 300;")
            span © Atypon Systems, LLC, All rights reserved.
            a(href="https://www.atypon.com/privacy-policy", target="_blank", style="font-weight: 400; color: #5e6f7e; text-decoration: none;") Privacy policy
