link(rel="stylesheet", href="/css/email.css", data-inline)

- const imageUrl = `${frontendAppBaseURL}/gfx-assets/emails/`
- const cardDecoration = imageUrl +"small-box-bg@2x.png"
- const cardDecoration2 = imageUrl +"bug-box-bg@2x.png"
- const AtyponLogo = imageUrl +"ConnectLogoEmailSize@2x.png"
- const ManuscriptsLogo = imageUrl +"ManuscriptsLogoEmailSize@2x.png"
- const ScitrusLogo = "https://atypon.github.io/connect-splash/src/shared/images/email/scitrus.png"
- const AuthoreaLogo = "https://atypon.github.io/connect-splash/src/shared/images/email/authorea.png"
- const RemarqLogo = "https://atypon.github.io/connect-splash/src/shared/images/email/remarq.png"

- const fontFamily = "font-family: Lato, Helvetica, Arial, sans-serif;"
- const font = fontFamily + " font-size: 14px; line-height: 1.14;"
- const greyText = font + "color: #6e6e6e;"
- const darkText = font + " color: #353535;"
- const titleStyles = font + darkText +" font-size: 18px; font-weight: bold; line-height: 1.33; "
- const descriptionStyles = font + greyText +" font-size: 16px; line-height: 24px;"
- const linkStyles = font + "color: #0d79d0; text-decoration: underline;"

body
  div
    table(border="0", cellpadding="0", cellspacing="0", width="100%")
      include ./topCard
      include ./manuscript-details
      include ./atypon-apps
      include ./copyright
