- const descriptionLines = [{ 1:"Collaborate live within Manuscripts.", 2:"No more reconciling multiple versions."},{ 1:"Execute and verify code and data from within your paper.", 2: "Include mathematical equations, and execute ﬁgures live."},{ 1:"Save time and effort formatting your work by using one of 1,300 built-in  journal submission templates."}, {1: "Manuscripts is free and open source. Send us your feedback through the chat icon so we can continue to improve your authoring experience!"}]

mixin detailRow(iconSrc, title, description)
  tr
    td(style="padding-top: 32px;", valign="top").fullWidth-mobile
      div(style="width: 55px;")
        img(src=`${iconSrc}`, style='vertical-align: top; max-width: 32px;')
    td(style="padding-top: 32px;").fullWidth-mobile
      table(border="0", cellpadding="0", cellspacing="0")
        tr
          td(style= font + darkText + " padding-bottom: 8px;")
            span #{title}
        tr
          td(style= font + greyText)
            each line in description
              div #{line}

block copyright
  tr
    td(bgcolor="#F6FAFD", align="center", style="padding-top: 32px;")
      table(border="0", cellpadding="0", cellspacing="0", width="100%", style="max-width: 512px; margin:0 auto;").responsive-table
        tr
          td(bgcolor="#ffffff"  style="border-radius: 8px;").card-radius
            div(style="background: #ffffff; border-radius: 8px;max-width: 512px; margin:0 auto;").card-radius
              table(width="100%", border="0", cellspacing="0", cellpadding="0", style="max-width: 512px; margin:0 auto; background-image: url("+cardDecoration2+"); background-size: contain; background-repeat: no-repeat; border-radius: 12px;")
                tr
                  td(style="padding: 32px;").padding
                    table(cellpadding="0", cellspacing="0", width="100%")
                      tr
                        td(colspan="2", style= titleStyles + " font-weight: 400;")
                          span All the research features you need in one app
                      +detailRow(imageUrl+"PlanProjectIconBright@2x.png", "Project", descriptionLines[0])
                      +detailRow(imageUrl+"TemplatedProject@2x.png", "Execute your figures", descriptionLines[1])
                      +detailRow(imageUrl+"PinkPerson@2x.png", "Format automatically", descriptionLines[2])
                      +detailRow(imageUrl+"OpenSourceColored@2x.png", "Free and open source", descriptionLines[3])
                      tr
                        td(colspan="2", style= font + darkText + " padding-top: 32px;")
                          span Have a question?&nbsp;
                          a(href="mailto:support@manuscripts.io", style=linkStyles) support@manuscriptsapp.com
