block topCard
  tr
    td(bgcolor="#F6FAFD", align="center", style="padding-top: 48px;")
      table(border="0", cellpadding="0", cellspacing="0", width="100%", style="max-width: 512px; margin:0 auto;").responsive-table
        tr
          td(bgcolor="#ffffff"  style="border-radius: 8px;").card-radius
            div(style="background: #ffffff; border-radius: 8px; max-width: 512px; margin:0 auto;").card-radius
              table(width="100%", border="0", cellspacing="0", cellpadding="0", style="max-width: 512px; margin:0 auto; background-image: url(" + cardDecoration + "); background-size: contain; background-repeat: no-repeat; border-radius: 12px;")
                tr
                  td(style="padding:48px 24px;").padding
                    table(cellpadding="0", cellspacing="0", width="100%")
                      tr
                        td(valign="top" class="logo")
                          img(src=ManuscriptsLogo, width="auto", height="28", border="0", alt="Manuscripts logo", style="display: block; color: #4a4a4a; font-family: Helvetica, arial, sans-serif; font-size: 14px;")
                      tr
                        td(style= titleStyles + " padding-top: 36px;")
                          block emailTitle
                      tr
                        td(style= descriptionStyles + "padding-top: 16px;")
                          block emailText
                      tr
                        td(align="center")
                          table(border="0", cellpadding="0", cellspacing="0", width="100%")
                            tr
                              td(style="padding-top: 32px;")
                                table(border="0", cellpadding="0", cellspacing="0")
                                  tr
                                    td(class="action"  align="center" bgcolor="#0d79d0").btn-radius
                                      block emailAction
