extends ../email-template

block emailTitle
  span Verify your email address

block emailText
  span To get started with Manuscripts, please verify your email address.

block emailAction
  a(href=actionURL, title="verify email" target="_blank", style="font-size: 16px; font-family: Lato, Helvetica, Arial, sans-serif; color: #ffffff; text-decoration: none; border-radius: 4px; padding: 8px 32px; border: 1px solid #0d79d0; display: inline-block;").btn-radius Verify your email address
